/*
	Tedx Bahcesehir
	Team stylesheet
	team.css
	Developer: Mert Akengin
	Date: 23 Feb 2016
*/

HTML {
	background-image:url('../img/ppl.jpg');
	background-color:transparent;
	background-position:center;
	background-size:cover;
	background-clip:border-box;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
BODY { padding:80px 0; }
H1 { color:#222; font-weight:lighter; }

.section { min-height:0; padding:40px 7%; }

.ppl .person {
	width:25vw;
	height:30vh;
	margin:10px;
	font-size:1.5em;
}
.ppl .person .tint {
	background-color:rgba(0,0,0,0.6);
}

.organizator.ppl .person {
	height:60vh;
	background-position:top;
}
.organizator.ppl .person .tint .cont {
	top:56%;
	transform:none;
}

@media (max-width: 960px) {
	BODY { padding:50px 0; }
	.ppl .person { width:80vw; }
}
