/*
	bu ne abi olmamis bidaha yaptim :)
*/

HTML {
	background-image:url('../img/ppl.jpg');
	background-color:transparent;
	background-position:center;
	background-size:cover;
	background-clip:border-box;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
BODY { padding-top:80px; }
H1 { color:#222; font-weight:lighter; }

.section { min-height:0; padding:40px 7%; }

.ppl .person {
	width:25vw;
	height:30vh;
	margin:10px;
	font-size:1.5em;
}

.organizator.ppl .person {
	height:60vh;
}
