/*
	bu ne abi olmamis bidaha yaptim :)
*/

BODY { padding-top:80px; }
.section { min-height:0; padding:40px 7%; }
H2 { color:white; font-weight:lighter; }
.ppl .person {
	width:25vw;
	height:30vh;
	margin:10px;
	font-size:1.5em;
}

.organizator.ppl .person {
	height:60vh;
}
